*.cache
*.editorconfig
*.info
*.props
*.xml
TicTacToe/TicTacToe/bin/Debug/net8.0/TicTacToe.deps.json
*.pdb
TicTacToe/TicTacToe/obj/Debug/net8.0/ref/TicTacToe.dll
TicTacToe/TicTacToe/obj/Debug/net8.0/refint/TicTacToe.dll
TicTacToe/TicTacToe/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
TicTacToe/TicTacToe/obj/Debug/net8.0/apphost.exe
TicTacToe/TicTacToe/obj/Debug/net8.0/TicTacToe.AssemblyInfo.cs
TicTacToe/TicTacToe/obj/Debug/net8.0/TicTacToe.csproj.FileListAbsolute.txt
TicTacToe/TicTacToe/obj/Debug/net8.0/TicTacToe.dll
TicTacToe/TicTacToe/obj/Debug/net8.0/TicTacToe.sourcelink.json
TicTacToe/TicTacToe/obj/project.assets.json
TicTacToe/TicTacToe/obj/project.packagespec.json
TicTacToe/TicTacToe/obj/TicTacToe.csproj.nuget.dgspec.json
